/GuardCount/.vs
/GuardCount/GuardCount/bin
/GuardCount/GuardCount/obj
/GuardCount/Bin
/GuardCount/NewGuard
/GuardCount/Confuser
/GuardCountRegister/bin
/GuardCountRegister/obj
/HaiwellClipboard/HaiwellClipboard/obj
