/GuardCount/.vs
/GuardCount/GuardCount/bin
/GuardCount/GuardCount/obj
/GuardCount/Bin
/GuardCount/NewGuard
/GuardCount/Confuser
/HaiwellClipboard/.vs
/HaiwellClipboard/HaiwellClipboard/bin
/HaiwellClipboard/HaiwellClipboard/obj
